[Unit]
Description=Notify when battery level changes beyond thresholds

[Service]
Type=simple
ExecStart=/home/barinr/.cargo/bin/battery-notify
Restart=on-failure

[Install]
WantedBy=default.target
