[Unit]
Description=Hourly git push backup for pass in case of failure in the original post commit method

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=timers.target
