window {
  border-radius: 100px;
  opacity: 0.97;
  padding: 0 0 0 0;
  box-shadow: none;
  margin: 0;

  background-color: #1a1b26;
}

#container > image {
  -gtk-icon-transform: scale(0.5);
}

label {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 11pt;
  padding: 0 16px 0 16px;

  color: #c0caf5;
}

image {
  color: #c0caf5;
  padding: 0 6px 0 8px;
}

progressbar {
  min-width: 100px;
}

progress {
  background-color: #7aa2f7;
}
