*.swp
.bash_history
.config/gh/hosts.yml
.config/qutebrowser/qsettings/*
*.uuid
node_modules
.config/aerc/accounts.conf
.config/qutebrowser/bookmarks
.config/spotifyd

# Build output
dist/

# Kiro specs
.kiro/
