/*--------------
    username
--------------*/

#custom-user {
  padding-right: 12px;
}

/*----------------
    workspaces
----------------*/

#custom-left_div.1,
#custom-right_div.1 {
  color: @workspaces;
}
#workspaces {
  padding: 0 8px;
  border-radius: 8px 0 0 8px;
  background-color: @workspaces;
}
#workspaces button label {
  font-size: 14px;
}
#workspaces button.active label,
#workspaces button.focused label {
  color: @accent;
  font-size: 16px;
}

/*------------------
    window title
------------------*/

#window {
  margin-left: 12px;
}
