/*
# Custom Beeper.app style
This file will be injected as a <style> tag
After making your changes, type "Reload custom CSS" in the command bar
To open dev tools, open the command bar and type "open console"
*/

:root {
  /*
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
  */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-dark: #1a1b26;
    --color-bg-default: #24283b;
    --color-bg-light: #2d3f56;
    --color-fg-main: #c0caf5;
    --color-fg-muted: #9aa5ce;
    --color-accent-bg: #414868;
    --color-accent-fg: #c0caf5;
    --color-button-bg: #7aa2f7;
    --color-button-fg: #1a1b26;
    --color-border: #414868;
    --color-primary: #7aa2f7;
    --color-primary-fg: #1a1b26;

    --color-backing-shade: var(--color-bg-dark);
    --color-text-translucent: var(--color-fg-main);
    --color-on-surface: var(--color-fg-muted);
    --color-background-selected: var(--color-accent-bg);
    --color-background-scrollbar: var(--color-accent-bg);

    --color-background-app: var(--color-bg-dark);
    --color-tertiary-container: var(--color-bg-default);
    --color-on-tertiary-container: var(--color-fg-muted);
    --color-outline: var(--color-primary);
    --color-on-primary: var(--color-primary-fg);
    --color-secondary-container: var(--color-bg-default);
    --color-on-surface-variant: var(--color-fg-muted);

    --color-surface: var(--color-bg-dark);

    .BrandButton-module__button.BrandButton-module__primary {
      --brand-button-background: var(--color-primary);
      --brand-button-foreground: var(--color-primary-fg);
    }

    .BrandButton-module__button.BrandButton-module__secondary {
      --brand-button-background: transparent;
      --brand-button-foreground: var(--color-primary);
      border-color: var(--color-primary);
    }

    --left-pane-bg: var(--color-bg-default);

    .home {
      background-color: var(--color-bg-default) !important;
    }
    .BrandReplyLineSegment-module__container {
      color: var(--color-fg-muted);
    }
    .linked-message-content {
      background-color: var(--color-accent-bg);
      color: var(--color-accent-fg);
      border-color: var(--color-primary);
    }
    .MessageAttachment-module__imageAttachment {
      width: fit-content !important;
    }
  }
  html.is-not-mac {
    --font-family:
      "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Noto Color Emoji", "Apple Color Emoji", "Twemoji", "Segoe UI Emoji",
      "Segoe UI Symbol", sans-serif;
  }
}
